.consumerGraph {
  display: flex;
  align-items: center;
  height:  100vh;
  .left {
    height: 100%;
    min-width: 800px;
    width: 70%;
    position: relative;
    .main{
      height: 100%;
      width: 100%;
      .timebg {
        circle {
          fill: none;
          stroke: #DBDFF1;
          stroke-dasharray: 10;
        }
        text{
          font-size: 8px;
          text-anchor: middle;
          fill: gray;
          &.active {
            stroke: #000;
            // font-size: 10px !important;
          }
        }
      }
      .timeSplit {
        transform-origin: center center;
        line {
          stroke: gray;
          stroke-width: 3;
          stroke-dasharray: 3;
        }
        text {
          text-anchor: middle;
          font-size: 12px;
          dominant-baseline: middle;
          font-weight: 900;
        }
        circle {
          fill: #fff;
          stroke: #DBDFF1;
        }
      }
      .time-classify {
        .time-button {
          fill: none;
          // stroke-width: 1px;
          // stroke: gray;
          fill: #d9d9d9;
          // fill-opacity: 1;
        }
        .time-label{
          text-anchor: middle;
          text{
            // stroke: #000;
            font-size: 20px;
            // fill: #fff;
          }
        }
      }
      
      .first-classify {
        cursor: pointer;
        .classify-button {
          fill-opacity: .5;
        }
        .classify-label {
          fill: #fff;
          text-anchor: middle;
        }
        .active {
          transform: scale(1.01);
          .classify-button {
            stroke: #000 !important;
            stroke-width: 2px !important;
          }
        }
        .disabled {
          opacity: .1;
        }
      }
      .detail-store {
        cursor: pointer;
        .store-button {
          // fill-opacity: .5;
        }
        .store-label {
          font-size: 10px;
          text-anchor: middle;
        }
        .active {
          transform: scale(1.01);
          .store-button {
            stroke: #000 !important;
            stroke-width: 2px !important;
          }
        }
        .disabled {
          opacity: .1;
        }
      }
      // .detail-store 

      .customer {
        .card{
          fill: orange;
          stroke: orange;
          fill-opacity: .5;
          cursor: pointer;
          &.active {
            stroke: #000;  
            stroke-width: 2px;
            transform: scale(1.5);
          }
          &.disabled {
            opacity: .3;
          }
        }
        text {
          font-size: 6px;
          text-anchor: middle;
          dominant-baseline: middle;
          pointer-events: none;
        }
        .bg {
          fill: #fff;
        }
      }

      .consume-item {
        stroke-width: 1px;
        stroke: #fff;
        // opacity: .1;
      }
      .customerTrack {
        pointer-events: none;
        path{
          stroke: red;
          fill: none;
          stroke-dasharray: 2;
        }
      }
    }
    .tooltips {
      position: absolute;
      display: flex;
      flex-direction: column;
      min-width: 140px;
      border: solid 1px #000;
      background: #fff;
      padding: 5px;
      line-height: 24px;
      font-size: 12px;
      .tooltip-line {
          display: flex;
          // justify-content: space-between;
          .tooltip-label {
              min-width: 90px;
          }
          .tooltip-value {
              span {
                  display: block;
              }
          }
      }
  }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    .condition {
      right: 20px;
      top: 100px;
      border: solid 1px gray;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 20px;
      border-radius: 4px;
      width: 60%;
    }
  }
  .legend {
    .legend-item {
      cursor: pointer;
      line-height: 30px;
      display: flex;
      align-items: center;
      .legend-label {
        width: 30px;
        height: 15px;
        margin-right: 10px;
        border-radius: 4px;
        border: solid 1px red;
      }
      &.disabled {
        opacity: .2;
      }
    }
  }
}
