// .userTable {
//     width:  100%;
//     height: 100%;
//     overflow: scroll;
//     table {
//         td {
//             border: 0px;
//         }
//     }
//     .userItem {
//         cursor: pointer;
//         &.active {
//             background: rgba(0, 0, 255, 0.3);
//         }
//     }
//     .userLegend {
//         height: 10px;   
//         width: 10px;
//     }
// }
.userTable {
    width:  100%;
    min-width: 400px;
    height: 100%;
    // overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    .left {
        width: 50%;
    }
    .user-item {
        cursor: pointer;
        display: flex;
        margin: 5px 10px;
        align-items: center;
        .user-count {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            text-align: center;
            line-height: 20px;
            margin-right: 10px;
        }
    }
    .userLegend {
        height: 10px;   
        width: 10px;
    }
}